[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = {extras = ["pool", "binary"], version = "*"}
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
